
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  caret-color: transparent;

}

section {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

/* ------------------ dark mode -------------- */

@keyframes heartFlick {

  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem #ffa500,
            inset 0 0 2rem #ffa500,
            0 0 4rem #ffa500,
            inset 0 0 4rem #ffa500;      
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

@keyframes heartbeat {
  0% {
    opacity: 1;
    scale: 1;
  }
  30% {
    opacity: .8;
    scale: 1.3;
  }
  100% {
    opacity: 1;
    scale: 1;
  }

}

.circle {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(138, 135, 135, 0.719);
  text-align: center;
  
}

.circle.dark {
  animation: heartFlick 1.5s infinite 2.2s alternate;
}


.inside_heart {
  position: relative;
  font-size: 23px;  
  transition: .1s;
  top: .5rem; 
  transition: .5s;
  
}

.inside_heart:active {
  transform: scale(1.5);
  transition: .3s;
}


.container_heart {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  float: right;
  right: .8rem;
  top: .6rem;
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 50%;
  z-index: 2;
  
}

.heart {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  transform-origin: center center;
  animation: heartbeat 2s ease-in-out 1.8s infinite;
  opacity: 0;
  transition: .8s;
}

.dark-mode {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  transform: scale(0);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 350vw;
  height: 350vw;
  border-radius: 50%;
  background: #171717;
  transition: 900ms ease-in-out;
}


.dark-mode.active {
  transform: scale(1);
  transition: 900ms ease-in-out;
}


@media screen and (max-width: 660px) {
  .dark-mode{
    width: 350vh;
    height: 350vh;
  }
}


/* --------------- a tag ----------------- */
a {
  color: rgb(36, 36, 36);
  text-decoration: none;
}



.main_txt {
  position: relative;
  mix-blend-mode: difference;
  margin-top: 1rem;
  z-index: 2;
}


.main_txt h1 {
  font-size: 35px;
  padding: 22px; padding-top: 0;
  margin-top: 2.3rem;
  color: rgb(255, 255, 255);
}

.main_txt.dark span {
  color: rgb(245, 245, 245);
  background: none;
  animation: blinkDark 7s infinite 1.8s;
}
.main_txt span {
  background: white;
  color: rgb(0, 0, 0);
}



@keyframes blinkDark {
  20%,
  24%,
  55% {
    color: black;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 
   0 0 5px #ffa500, 
   0 0 15px #ffa500, 
   0 0 20px #ffa500, 
   0 0 40px #ffa500, 
   0 0 60px #ff0000, 
   0 0 10px #ff8d00, 
   0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blockFlick {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem #b3ff00d6,
            inset 0 0 2rem #b3ff00d6,
            0 0 4rem #b3ff00d6,
            inset 0 0 4rem #b3ff00d6;     
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}



@keyframes FadeIn {
  0% {
    transform: translateY(1000px) rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.card_rotate1:active, .card_rotate2:active,
.card_rotate3:active,.card_rotate4:active,
.card_rotate5:active, .card_rotate6:active,
.card_rotate7:active {
  z-index: 500;
}

/* border of the card */

.card_rotate1, .card_rotate2,.card_rotate3,
.card_rotate4, .card_rotate5, .card_rotate6,
.card_rotate7{
  position: absolute;
  width: 100px;
  height: 100px;
  place-items: center;
  opacity: 0;
  z-index: 3;
}
/* 
.card_rotate1:hover, .card_rotate2:hover,.card_rotate3:hover,
.card_rotate4:hover, .card_rotate5:hover, .card_rotate6:hover{
  transition: .5s ease-in-out;
} */

/* setting card border to be in center */
.card_one, .card_two, 
  .card_three, .card_four,
  .card_five, .card_six,
  .card_seven {
    left: -3rem;
    top: -3rem;

  }

.card_rotate1{
  animation: FadeIn .5s ease-in .5s forwards;
}
.card_rotate2{
  animation: FadeIn .5s ease-in .6s forwards;
}
.card_rotate3{
  animation: FadeIn .5s ease-in .7s forwards;
}
.card_rotate4{
  animation: FadeIn .5s ease-in .8s forwards;
}
.card_rotate5{
  animation: FadeIn .5s ease-in .9s forwards;
}
.card_rotate6{
  animation: FadeIn .5s ease-in 1s forwards;
}
.card_rotate7{
  animation: FadeIn .5s ease-in 1s forwards;
}
.social_container {
  display: flex;
  position: relative;
  width: 90%;
  height: 42px;
  justify-content: space-around;
  top: -1.6rem;
  margin: 22px;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  z-index: 3;
  border: 3px solid #fffefe;
}

/* .social_container.dark {
  animation: blockFlick 1.5s infinite 1.7s alternate;
} */

.social_container div:not(.grid){
  position: relative;
  top: 2px;
  font-size: 25px;
  cursor: pointer;
}

.social_container div:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  
}

.social_container div:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  border-bottom: 1px solid rgb(0, 0, 0);
}


.social_container span {
  position: relative;
  bottom: 4px;
  font-size: 18px;
  padding-left: 8px; 
}



.grid {
  display: grid;
  place-items: center;
  position: relative;
  border: 1px solid rgb(2, 2, 2);
  height: 29px;
  padding: 4px;
  cursor: pointer;
  
}
.switch_grid {
  position: relative;
  font-size: 20px;
  color: rgb(15, 15, 15);
}

.switch_touch {
  position: relative;
  font-size: 20px;
  right: 2px;
  color: rgb(15, 15, 15);
}

.switch_grid:active {
  animation: switch .1s ease-in-out;
}
.switch_touch:active {
  animation: switch .1s ease-in-out;
}



@keyframes switch {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(.5);
  }
}

@media screen and (max-width: 660px) {

  .social_container{
    justify-content:space-around;
  }

  .social_container div {
    font-size: 20px;
  }
  .social_container span {
    font-size: 12.5px;
    padding-left: 5px; 
    bottom: 6px;
  }
}

.card_one span, .card_two span,
  .card_three span, .card_four span,
  .card_five span, .card_six span,
  .card_seven span {
    position: relative;
    font-size: 19px;
    top: -.7rem; 
    left: 8.2rem;
  } 

.card_bg {
  position: absolute;
  width: 100%;
  background-color: rgb(237, 237, 237);
}


.card_bg span {
  position: relative;
}

.card_h2 {
  position: relative;
  font-size: 25px;
  top: .2rem;
}

@keyframes card1Flick {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #ee4d4d,
            inset 0 0 .5rem #fff,
            0 0 2rem #ff3700e6;
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
@keyframes card2Flick {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #9a04ffe6,
            inset 0 0 .5rem #fff,
            0 0 2rem #9a04ffe6;
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
@keyframes card3Flick {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #f9f9f9e6,
            inset 0 0 .5rem #fff,
            0 0 2rem #f9f9f9e6;
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
@keyframes card4Flick {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #0091ffe6,
            inset 0 0 .5rem #fff,
            0 0 2rem #0091ffe6;
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
@keyframes card5Flick {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #00ffd0e6,
            inset 0 0 .5rem #fff,
            0 0 2rem #00ffd0e6;
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
@keyframes card6Flick {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #b8d481,
            inset 0 0 .5rem #fff,
            0 0 2rem #b8d481;
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

/* ------------------ card 1 ------------- */


.card_one {
  position: relative;
  width: 190px;
  height: 190px;
  border: 2px solid black;
  background: rgb(243, 190, 190);
  border-radius: .4rem;
  cursor: grab;
}

/* .card_one.dark:active {
  animation: card1Flick 1.5s infinite alternate;
} */

.card_one:active {
  background: rgb(218, 136, 136);
  cursor: grabbing;
}

.card_one div{
  padding: 20px;
  
}

.card_one p {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 100;
}


.card_one h2:hover{
  color: white;
  cursor: pointer;
  
}


/* ------------------ card 2 ------------- */

.card_two {
  position: relative;
  width: 190px;
  height: 190px;
  background: rgb(169, 135, 248);
  border: 2px solid black;
  border-radius: .4rem;
  cursor: grab;
}
/* .card_two.dark:active {
  animation: card2Flick 1.5s infinite alternate;
} */
.card_two:active{
  background: rgb(112, 67, 216);
  cursor: grabbing;
}
.card_two div{
  padding: 20px;
}

.card_two p {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
}

.card_two h2:hover{
  color: white;
  cursor: pointer;
}

/* ------------------ card 3 ------------- */

.card_three {
  position: relative;
  width: 190px;
  height: 190px;
  background: rgb(211, 208, 208);
  border: 2px solid black;
  border-radius: .4rem;
  cursor: grab;
}

/* .card_three.dark:active {
  animation: card3Flick 1.5s infinite alternate;
} */

.card_three:active{
  background: rgb(173, 171, 171);
  cursor: grabbing;
}

.card_three div{
  padding: 20px;
}


.card_three p {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
}

.card_three h2:hover{
  color: white;
  cursor: pointer;
}
/* ------------------ card 4 ------------- */

.card_four {
  position: relative;
  width: 190px;
  height: 190px;
  background: rgb(120, 178, 244);
  border: 2px solid black;
  border-radius: .4rem;
  cursor: grab;
  /* transform: rotate(-12deg); */
}

/* .card_four.dark:active {
  animation: card4Flick 1.5s infinite alternate;
} */

.card_four:active{
  background: rgb(107, 158, 215);
  cursor: grabbing;
}

.card_four div{
  padding: 20px;
}

.card_four p {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
}

.card_four h2:hover{
  color: white;
  cursor: pointer;
}

/* ------------------ card 5 ------------- */

.card_five {
  position: relative;
  width: 190px;
  height: 190px;
  background: rgb(147, 231, 196);
  border: 2px solid black;
  border-radius: .4rem;
  cursor: grab;
}

/* .card_five.dark:active {
  animation: card5Flick 1.5s infinite alternate;
} */

.card_five:active{
  background: rgb(126, 196, 167);
  cursor: grabbing;
}

.card_five div{
  padding: 20px;
}


.card_five p {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
}

.card_five h2:hover{
  color: white;
  cursor: pointer;
}

/* ------------------ card 6 ------------- */

.card_six {
  position: relative;
  width: 190px;
  height: 190px;
  background: #dfc67e;
  border: 2px solid black;
  border-radius: .4rem;
  cursor: grab;
}

/* .card_six.dark:active {
  animation: card6Flick 1.5s infinite alternate;
} */

.card_six:active{
  background: #c9b371;
  cursor: grabbing;
}

.card_six div{
  padding: 20px;
}

.card_six p {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
}

.card_six h2:hover{
  color: white;
  cursor: pointer;
}

/* ------------------ card 7 ------------- */

.card_seven {
  position: relative;
  width: 190px;
  height: 190px;
  background: #98a1c6;
  border: 2px solid black;
  border-radius: .4rem;
  cursor: grab;
}

/* .card_six.dark:active {
  animation: card6Flick 1.5s infinite alternate;
} */

.card_seven:active{
  background: #8b93b3;
  cursor: grabbing;
}

.card_seven div{
  padding: 20px;
}

.card_seven p {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
}

.card_seven h2:hover{
  color: white;
  cursor: pointer;
}

/* ---------------------------------------------------------- */

.btm_nav {
  position: absolute;
  bottom: .8rem;
  left: 1rem;
  font-size: 12px;
  letter-spacing: 1px;
  mix-blend-mode: difference;
  color: rgb(255, 255, 255);
  z-index: 2;
}

@keyframes blinkDarkBtm {
  20%,
  24%,
  55% {
    color: black;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #3cff00, 0
   0 5px #3cff00, 
   0 0 5px #3cff00, 
   0 0 6px #3cff00, 
   0 0 7px #fffcfc, 
   0 0 8px #3cff00, 
   0 0 9px #faf9f9;
    color: rgb(240, 244, 165);
  }
}


/* ---------------SCREEN------------------- */
@media screen and (max-width: 360px) {
  .social_container span {
    display: none;
  }
  .main_txt h1 {
    font-size: 27px;
  }

}



@media screen and (max-width: 500px) {
  .card_one, .card_two,.card_three,
  .card_four,.card_five,.card_six,
  .card_seven {
    width: 170px;
    height: 170px;

  }

  .card_one h2, .card_two h2,
  .card_three h2, .card_four h2,
  .card_five h2, .card_six h2,
  .card_seven h2 {
    font-size: 18px;

  }

  .card_one p, .card_two p,
  .card_three p, .card_four p,
  .card_five p, .card_six p,
  .card_seven p {
    font-size: 14px;
   
  } 

  .card_one span, .card_two span,
  .card_three span, .card_four span,
  .card_five span, .card_six span,
  .card_seven span {
    left: 7rem;
  }

  .card_rotate1, .card_rotate2,.card_rotate3,
  .card_rotate4, .card_rotate5, .card_rotate6,
  .card_rotate7 {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
  
}
@media screen and (min-width: 750px) {
  .social_container {
  width: 93%;
 }
}




@media screen and (min-width: 1000px) {

  .container_heart {
    position: absolute;
    top: 2.5rem;
    left: 57rem;
  }

  .card_bg {
    height: 60px;
  }
  .main_txt {
    position: relative;
    width: 850px;
    top: 3rem;
    left: 10rem;
  }
  .main_txt h1 {
    font-size: 50px;
  }

  .social_container {
    width: 770px;
    gap: 50px;
    top: 1.5rem;
    left: 10rem;
  }

  .card_one, .card_two,
  .card_three, .card_four,
  .card_five, .card_six,
  .card_seven {
    width: 290px;
    height: 290px;
  }

  .card_one h2, .card_two h2,
  .card_three h2, .card_four h2,
  .card_five h2,.card_six h2,
  .card_seven h2 {
    margin-top: 1.5rem;
    font-size: 38px;
  }

  .card_one p, .card_two p,
  .card_three p, .card_four p,
  .card_five p, .card_six p,
  .card_seven p {
    font-size: 18px;
    margin-top: .5rem;
  } 

  .card_one span, .card_two span,
  .card_three span, .card_four span,
  .card_five span, .card_six span,
  .card_seven span {
    top: -5px;
    left: 13.5rem;
    font-size: 30px;
  } 
}

/* -------------- medal card ------------------- */

@keyframes medalfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.card_medal_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3434348a;
  backdrop-filter: blur(4px);
  z-index: 99;
  opacity: 0;
  animation: medalfade .2s ease-in-out forwards;
  
}

.card_medal {
  display: grid;
  position: absolute;
  max-width: 900px;
  width: 92%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  z-index: 99;
  opacity: 0;
  animation: medalfade .6s ease-in forwards;
  overflow: auto;
  grid-template-rows: 1.4fr 1fr;
  border-radius: .5rem;
}

.medal_top {
 position: relative;
 min-height: 400px;
 height: 100%;
 width: 100%;
 background-size: cover; 
 background-position: 50% 0%;
}

.medal_top h2 {
  position: relative;
  font-size: 35px;
  text-align: center;
  padding-top: 2.5rem;
}


.medal_btm {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  top: -.5rem;
  padding: 6vw;
  padding-top: 70px;
  background: rgb(255, 255, 255);
}

@media screen and (min-width: 1000px) {
  .medal_btm {
    padding: 50px;
  }
}

.Web {
  position: relative;
  font-size: 25px;
  top: -1.5rem;
}

.medal_btm a:hover {
  color: rgb(25, 25, 245) !important;
}

.medal_btm p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 23px;
  padding-bottom: 1.8rem;
}
.medal_btm h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1.8rem;

}

.img_context {
  width: 100%;
}

.medal_btm .pic_p {
  font-size: 13px;
  text-align: center;
}


/* -------------- dnd grid ---------------- */

@keyframes cardsGrid {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem #ff8000e6,
            inset 0 0 .5rem #fff,
            0 0 2rem #ff8000e6;
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

@keyframes FadeGrid {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

.grid_container {
  display: grid;
  position: relative;
  touch-action: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  top: -1.5rem;
  left: 0.5rem;
  margin: 0 auto;
  max-width: 804px;
  width: 85%;
  width: 90%;
  opacity: 0;
}

.card_grid {
  position: relative;
  max-height: 233px;
  max-width: 170px;
  min-height: 140px;
  height: 26vw;
  width: 20vw;
  border-radius: .3rem;
  border: 2px solid black;
  cursor: grab;
  overflow: hidden;
  margin-left: -5rem;
  left: calc(0% + 2.2rem);
}


.card_grid:active {
  cursor: grabbing;
}

/* .card_grid.one.dark:hover,
.card_grid.one.dark:active {
  animation: card1Flick 1.5s infinite alternate;
}
.card_grid.two.dark:hover,
.card_grid.two.dark:active {
  animation: card2Flick 1.5s infinite alternate;
}
.card_grid.three.dark:hover,
.card_grid.three.dark:active {
  animation: card3Flick 1.5s infinite alternate;
}
.card_grid.four.dark:hover,
.card_grid.four.dark:active {
  animation: card4Flick 1.5s infinite alternate;
}
.card_grid.five.dark:hover,
.card_grid.five.dark:active {
  animation: card5Flick 1.5s infinite alternate;
}
.card_grid.six.dark:hover,
.card_grid.six.dark:active {
  animation: card6Flick 1.5s infinite alternate;
} */


.shadow_card {
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  cursor: grab;
  background: rgba(194, 192, 192, 0.258);
  backdrop-filter: blur(2px);
}

.icon_grid {
  width: 100%;
  height: 25px;
  place-items: center;
  background-color: rgb(255, 255, 255);
}

.icon_grid span {
  position: absolute;
  font-size: 14px;
  right: 1rem;
  top: .3rem;
  text-align: center;
}

.card_grid h1{
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.card_grid p{
  position: relative;
  padding-left: 10px;padding-right: 10px;
  padding-bottom: 10px;
  font-size: 13.5px;
  cursor: pointer;
}

.grid_text:hover {
  color: white;
}

@media screen and (max-width: 500px) {
  .grid_container {
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .card_grid {
    width: 100px;
    height: 120px;
    margin-left: -4rem;
    left: calc(0% + 2.2rem);
    overflow: hidden;
  }
  .card_grid p {
    font-size: 10px;
    padding-top: 0px;
    line-height: 12px;
    
  }
  .card_grid h1 {
    font-size: 15.5px;
    padding-bottom: 5px;
  }
  .icon_grid span {
    right: .6rem;
  }
}


@media screen and (min-width: 501px) {
  .grid_container {
    width: 85%;
  }
  .card_grid {
    left: 3rem;
  }
  .card_grid p {
    padding-top: 0;
    font-size: 11px;
  }
  .card_grid h1 {
  font-size: 16px;
   padding-top: 10px;
   padding-bottom: 5px;
  }
  .grid_container{
    top: -1.5rem;
  }
  .icon_grid {
    height: 32px;
  }
  .icon_grid span{
    font-size: 16px;
    top: 7px;
  }

}

@media screen and (min-width: 670px) {
  .icon_grid {
    height: 45px;
  }
  .icon_grid span{
    font-size: 20px;
    top: 12px;
  }
}

@media screen and (min-width: 750px){
  .card_grid {
    left: 2rem;
  }
  .card_grid p {
    padding-top: 5px;
    font-size: 13.5px;
  }
  .card_grid h1 {
    font-size: 22px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .grid_container {
    position: absolute;
    width: 700px;
    gap: 25px;
    top: 25.5rem;
    left: 12.2rem;
  }
  .card_grid {
    max-width: 170px;
    max-height: 220px;
  }
  
}